* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 100%;
    background-color: rgb(114, 63, 114);
    height: 95px;
    line-height: 100px;
    padding: 0px 10px;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2em;
    color: #f0f0f0;
}

p {
    font-family: sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 1.5em;
    color: #333;
}

.navbar {
    background-color: rgb(160, 114, 160);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    font-size: 1.4em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.content {
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    background-color: whitesmoke;
}

